@page "/auth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
@rendermode InteractiveAuto

<PageTitle>认证 - 轨记</PageTitle>

<h1>您已通过身份认证</h1>

<AuthorizeView>
    你好，@context.User.Identity?.Name！
</AuthorizeView>
