@using RailLog.Shared.Components
@inherits LayoutComponentBase
@layout RailLog.Components.Layout.MainLayout

<PageHeader Title="账户管理" IconClass="bi bi-person-fill" />

<div>
    <hr />
    <div class="row">
        <div class="col-lg-3">
            <ManageNavMenu />
        </div>
        <div class="col-lg-9">
            @Body
        </div>
    </div>
</div>
