@page "/Error"
@using System.Diagnostics

<PageTitle>错误 - 轨记</PageTitle>

<h1 class="text-danger">错误。</h1>
<h2 class="text-danger">处理您的请求时出错。</h2>

@if (ShowRequestId)
{
    <p>
        <strong>请求 ID:</strong> <code>@RequestId</code>
    </p>
}

<h3>开发模式</h3>
<p>
    切换到<strong>开发</strong>环境将显示有关所发生错误的更详细信息。
</p>
<p>
    <strong>不应在已部署的应用中启用开发环境。</strong>
    这可能会导致向终端用户显示来自异常的敏感信息。
    对于本地调试，请通过将 <strong>ASPNETCORE_ENVIRONMENT</strong> 环境变量设置为 <strong>Development</strong> 并重新启动应用来启用<strong>开发</strong>环境。
</p>

@code{
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
