@page "/Account/Manage/PersonalData"

@using Microsoft.AspNetCore.Identity
@using RailLog.Data

@inject UserManager<ApplicationUser> UserManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>个人数据 - 轨记</PageTitle>

<StatusMessage />
<h3>个人数据</h3>

<div class="row">
    <div class="col-md-6">
        <p>您的账户包含您提供给我们的个人数据。此页面允许您下载或删除这些数据。</p>
        <p>
            <strong>删除此数据将永久移除您的账户，且无法恢复。</strong>
        </p>
        <form action="Account/Manage/DownloadPersonalData" method="post">
            <AntiforgeryToken />
            <button class="btn btn-primary" type="submit">下载</button>
        </form>
        <p>
            <a href="Account/Manage/DeletePersonalData" class="btn btn-danger">删除</a>
        </p>
    </div>
</div>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        var user  = await UserManager.GetUserAsync(HttpContext.User);
        if (user is null)
        {
            RedirectManager.RedirectToInvalidUser(UserManager, HttpContext);
        }
    }
}
